@model News

@{
    ViewData["Title"] = "Details";
}


<br />
<h2 class="text-info">Detials of News</h2>
<br />
<form method="post">
    <div class="backgroundWhiteBorder row">
        <div class="col-8">

            <fieldset disabled>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Title" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Title" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        @Html.TextAreaFor(m => m.Description)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="NewsDate" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="NewsDate" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CategoryId" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Category.Name" class="form-control" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            @if (@Model.Image == "noimage.png")
            {
                <img src="~/media/news/@Model.Image" style="width:99%;border-radius:5px;border:1px solid #bbb9b9" alt="" />

            }
            else
            {
                <img src="~/media/news/@Model.Category.Name/@Model.Image" alt="" style="width:99%;border-radius:5px;border:1px solid #bbb9b9" />

            }
        </div>
        <div class="col-8">
            <div class="col-8 offset-4">
                                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist",
            menubar: 'file edit format',
            readonly: 1
        });</script>
    <script>tinymce.init({ selector: 'textarea' });</script>

}
