@model NewsAndCategoryViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Create News</h2>
<br />

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="border backgroundWhite row">
    <div class="col-8 border-right">
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="News.CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <select id="ddlCategorylist" asp-for="News.CategoryId" asp-items="@(new SelectList(Model.CategoryList,"Id","Name"))" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="News.Title" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="News.Title" class="form-control" />
                </div>
                <span asp-validation-for="News.Title" class="text-danger"></span>
            </div>


                    <div class="form-group row">
            <div class="col-3">
                    <label asp-for="News.Description" class="col-form-label"></label>
            </div>
            <div class="col-5">
                    @Html.TextAreaFor(m => m.News.Description)
            </div>
                <span asp-validation-for="News.Description" class="text-danger"></span>

        </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="News.Image" class="control-label">News Image</label>
                </div>
                <div class="col-5">
                    <input asp-for="News.ImageUpload" class="form-control" />
                </div>
                <span asp-validation-for="News.ImageUpload" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="News.NewsDate" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="News.NewsDate" class="form-control" />
                </div>
                <span asp-validation-for="News.NewsDate" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-5 offset-3">
                    <partial name="_CreateAndBackToListButton" />
                </div>
            </div>
        </form>
    </div>
@*    <div class="col-3 offset-1">

        <p> Existing News: </p>

        <div id="NewsList">
            <ul class="list-group"></ul>
        </div>

    </div>*@



</div>




@section Scripts{




    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format'
        });

    </script>


@*    <script>

        function updateNewsList() {
            var categorySelected = document.getElementById("ddlCategorylist").value;
            $list = $('#NewsList');
            $.ajax({
                url: '/Admin/News/GetNews/' + categorySelected,
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    results = JSON.parse(data);
                    $list.html('');
                    $list.append(' <ul class="list-group"> ');
                    for (i in results) {
                        $list.append('<li class="list-group-item">' + results[i].text + '</li>');
                    }
                    $list.append('</ul>');
                }

            });

        }


        $(document).ready(function () {
            updateNewsList();
        });


        $("#ddlCategorylist").on("change", function () {
            updateNewsList();
        });


    </script>*@


}